.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
    background: #fff;
}

body {
    margin: 0px;
}