/* arquivo para separar o conteudo da pagina da lista lateral */
body{
  background-color: lightgray;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 9px;

}
::-webkit-scrollbar-thumb{
  background-color: #8c060f;
}


.content {
  display: block;
  margin-left: 75px;
  padding-left: 8px;
  box-sizing: border-box;
}
.Prod1{
  background: aliceblue;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 0 #bbbbbb;
  cursor: pointer;
  border: 5px solid white;
}
.Prod1 h4{
  margin: 0;
  font-size: 20px;
  margin-bottom: 5px;
  font-family: Manrope, sans-serif;
}
.Prod1 img{
  width: 75px;
  border-radius: 5px;
  float: right;
}
.Sub-prod{
  margin: 20px;
  margin-bottom: 5px;
}
/* .botaoFinalizar{
  position: relative;
  background-color: #8c060f;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: 80%;
  left: 20vh;

} */
#Title{
  position: relative;
  align-items: center;
  justify-content: center;

  width: 100%;
  display: flex;
  font-family: Manrope, sans-serif;
}
#preco{
  margin: 2px;
}