/* arquivo para separar o conteudo da pagina da lista lateral */

.content {
  display: block;
  margin-left: 75px;
  padding-left: 8px;
  box-sizing: border-box;
}

h1{
    padding-top: 10px;
    padding-bottom: 10px;
}