/* arquivo para separar o conteudo da pagina da lista lateral */
body{
  background-color: lightgray;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 9px;

}
::-webkit-scrollbar-thumb{
  background-color: #8c060f;
}


.content {
  display: block;
  margin-left: 75px;
  padding-left: 8px;
  box-sizing: border-box;
}

/* .botaoFinalizar{
  position: relative;
  background-color: #8c060f;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: 80%;
  left: 20vh;

} */
#Title{
  position: relative;
  align-items: center;
  justify-content: center;
          font-family: 'Poppins', sans-serif;
  width: 100%;
  display: flex;
}
#preco{
  margin: 2px;
}
.container2{
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);
  margin-top: 40em;
  height: auto;
  position: fixed;
  overflow: unset;
  max-width: 760px;
  padding: 18px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: aliceblue;
  bottom: 0px;
  border: 5px solid white;

  align-items: center;
  justify-content: center;
  left: 43vw;
  height: 180px;
  width: 400px;
}
.container2 h1{
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  margin-top: -10px;
}
.container2 button{
  position: relative;
  align-items: center;
  justify-content: center;
  width: 60%;
  display: flex;
 

  background-color: #8c060f;
  text-align: center;
  padding: 15px;
  margin-bottom: 100px;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  left: 80px;
}
.container2 span{
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  font-size: 30px;
}

.form{

  display: block;
  background-color: #fafaff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 50px; /* espaço entre as bordas */
  margin-top: 100px ; /* espaço do container*/
  box-shadow: 0 1px 4px rgba(0,0,0,.05), 0 4px 16px rgba(0,0,0,.06);
  border: 2px solid rgba(142, 141, 141, 0.5);
  border-radius: 8px; /* arrendodamento da borda */
  backdrop-filter: blur(30px);
  overflow: hidden;
  justify-content: center;
  margin-top: -2%;
}