.Prod1{
    background: aliceblue;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 #bbbbbb;
    cursor: pointer;
    border: 5px solid white;
}

#titleProd{
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;

}

.Prod1 img{
    width: 75px;
    border-radius: 5px;
    float: right;
    
}

#descProd{
   font-size: 20px;
   color: #767676;
   font-family: 'Poppins', sans-serif;
   margin-top: -12px;
  }

.imgProd{
    max-width: 100px;
    margin-top: 15px;
    height: 80px;


    
  }
  #imgAdd{
    position: relative;
    max-height: 45px;
    max-width: 45px;
    float: right;
    margin-top: -80px;
    left: -110px;
    filter: opacity(0.6) drop-shadow(0 0 0 rgb(255, 0, 0)); 

  }
 
  #product-price{
    font-size: 20px;
    color: #3E3E3E;
    font-family: 'Poppins', sans-serif;
  }
