.Prod1{
    background: aliceblue;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 #bbbbbb;
    cursor: pointer;
    border: 5px solid white;
}

#titleProd{
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;

}

.Prod1 img{
    width: 75px;
    border-radius: 5px;
    float: right;
}

#descProd{
   font-size: 20px;
   color: #767676;
   font-family: 'Poppins', sans-serif;
   margin-top: -12px;
  }

.imgProd{
    max-height: 60px;
    max-width: 60px;
    
    
  }
  #imgAdd{
    position: relative;
    background-image: brown;
    max-height: 30px;
    max-width: 30px;
    left: -15px;

  }
  #product-price{
    font-size: 20px;
    color: #3E3E3E;
    font-family: 'Poppins', sans-serif;
  }
