body{
    
}

.form{
    border: 1px solid;
    width: 35%;
    height: 550px;
    text-align: center;
    display:block;
    position:absolute;
    
}
label{
    display: inline-block;
    margin-bottom: 5px;
    color:black;
    position: relative;
    margin-top: 5px;
}
input{
    border: 2px solid #3E445B;
    border-radius: 7px;
    outline: 0;
    font-size: 14px;
    margin-top: 5px;
    width: 30em;
    padding: 15px;
    
}