*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outifit', sans-serif;
}
body{
    height: 100vh;
}

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 5px;
    box-shadow: 3px 0 0 #8c060f;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;

  
    
}
nav.menu-lateral.expandir:hover{
    width: 300px;

}
.btn-expandir{
    width: 100%;
    padding-left: 10px;
    margin-bottom: 25px;
}
.btn-expandir > i{
    position: relative;
    color: aliceblue;
    font-size: 24px;
    cursor: pointer;
    left: 0.3em;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: .2s;
}
ul li.ativo{
    background-color: #8c060f;
}
ul li.item-menu:hover{
    background: #8c060f;
}
ul li.item-menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 9px;
    line-height: 30px;
}
ul li.item-menu a .txt-link{
    margin-left: 40px;
}
ul li.item-menu a .icon > i{
    font-size: 25px;
    margin-left: 10px;
}
ul li.item-menu a .icon{
    position: relative;
    left: 0.3em;
}
.item-titulo{
    text-align: center;
    margin-top:20px;
}
.item-local{
    border: 1px solid;
    width: 200px;
    height: 100px;
}
.tl{
 border: 1px solid;
 width: 20%;
 height: 100px;   
}
tr td{
    font-size: 15px;
}