table {
    text-align: center; 
    letter-spacing: 1px;
    font-style: italic;
    border-collapse: collapse;
    border: 2px solid rgb(100, 130, 40);
    width: 75%;
}

thead{
    color: darkblue;
}

tbody{
    font-size: 90%;
}

td{
    border: 1px solid rgb(100, 130, 40);
}

th{
    border: 1px solid rgb(100, 130, 40);
}