table {
    text-align: center; 
    letter-spacing: 1px;
    font-style: italic;
    border-collapse: collapse;
    border: 2px solid rgb(100, 130, 40);
    width: 75%;
}

thead{
    color: darkblue;
}

tbody{
    font-size: 90%;
}

td{
    border: 1px solid rgb(100, 130, 40);
}

th{
    border: 1px solid rgb(100, 130, 40);
}

button{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 3px; 
    padding: 7px;
    margin: 3px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 15px;
}

.editar{
    background: #e4e716; 
}

.excluir{
    background: #eb0707; 
}