* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0 auto;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 16px;

}

.container {
    width: 100%;
    height: 100%;
}

.hero {
    height: 80%;
    max-height: 520px;
    background: #000000;
}

.bg {
    display: flex;
    height: 100%;
    padding-bottom: 20px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .logo {
    width: 120px;
    border-radius: 13px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.content h2 {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 600;
    margin: 20px 0;
}

.content h2 span {
    color: #ea1d2c;
}

.content p {
    color: #3e3e3e;
    font-size: 1.25rem;
}

.footer {
    margin: 20px;
    border-top: 1px solid #dcdcdc;
    display: flex;
    padding: 20px 0;
}

.footer img {
    width: 70px;
    margin-top: -20px;

}

.footer span {
    font-size: 0.8125rem;
    color: #818181;
    margin: 0 20px;
}

.content .btn_cardapio {
    width: 100vh;
    background: #ea1d2c;
    color: #fff;
    font-weight: 400;
    border: 0;
    border-radius: 4px;
    height: 3em;
}

.content .btn_cardapio:hover {
    background: #c2121f;
}

@media screen and (max-width: 1236px) {
    .container {
        position: fixed;
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        flex-direction: column;
    }

    .content h2 {
        position: fixed;
        width: 100%;
        flex-direction: column;
        font-size: 35px;
        left: 2em;
    }

    .content .btn_cardapio {
        text-align: center;
        left: 10em;
    }

    .content p {
        margin-top: 5em;
    }

    .hero {
        position: fixed;
        width: 100%;
        flex-direction: column;
    }

    .footer {
        position: fixed;
        width: 100%;
        flex-direction: column;
        margin-top: 50em;
    }
}

.content .statusLoja1 {
    font-size: 15px;
    position: relative;
    margin-top: -1em;
}